<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
	<div>
		<ul>
			<li th:each="receipt : ${receiptsContainer.receipts}">
				<fieldset>
				<legend th:text="${receipt.name}" />
					<ul>
						<li th:each="item : ${receipt.items}">
							<label th:text="${item.name}" /> : $<label th:text="${#numbers.formatDecimal(item.totalPrice,	1,2)}" />
						</li>
					
					Sales Taxes: $<label th:text="${#numbers.formatDecimal(receipt.salesTaxes,1,2)}" />
					Total: $<label th:text="${#numbers.formatDecimal(receipt.total,1,2)}" />
					</ul>
				</fieldset>
			</li>
		</ul>
	</div>
</body>
</html>